body {
    margin: 0;
    padding: 0;
    background-color: black;
}


p {margin: 0px;}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: -1 !important;
}
.marker {
    background-image: url('charger-icon.png');
    background-size: cover;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    padding: 10px 20px 10px 20px
}

.closeBtn {
    position: absolute;
    width: 50px;
    height: 50px;
    float: right;
    z-index: -10 !important;
}

.collapsibleMenu {
    float: right;
    margin: 2.55% 3.55% 0 0;
}

.btn-nav {
    width: 75px;
    height: 75px;
    background-color: #1d1d1d;
    border-radius: 10%;
    border-color: #308AE9;
}

.btn-nav:hover {
    background-color: #313131;}

.sidenav {
    position: absolute;
    z-index: -1;
    width: 25%;
    height: 100vh;
    background-color: #3e3e45;
    left: 75VW;
    display: none;
}

.list {
    position: relative;
    width: 80%;
    height: 80vh;
    margin: 15vh 10%;
    background-color: #2a2a2a;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow: auto;
}

.chargers {
    width: 96%;
    background-color: #3a3a3a;
    margin: 1% 1%;
    padding: 1%;
    text-align: center;
    font-size: 32px;
}
.chargerInfo{
    display: none;
    background-color: #4b4b4b;
    width: 98%;
    font-size: medium;
    text-align: left;
    color: rgb(0, 0, 0); 
    grid-template-columns: 50% 50%;
    padding: 1%;
    margin-top: 1%;
}

.active {
    display: block;
}
.active_grid {
    display: grid;
    align-items: end;
}

.container {
    display: grid;
    grid-template-columns: auto 75px;
}

.col1 {
    margin: auto;
    grid-area: 1 / 1 / 1 / 1;
}
.col2 {
    margin: auto;
    grid-area: 2 / 1 / 2 / 1;
}
.col3 {
    margin: auto;
    grid-area: 1 / 2 / span 2 / 2;
}

.chargerText{
    font-size: large;
    font-family:'Calibri';
    color: #E7E7E7;
    text-align: center;
}

.chargerInfoText{
    font-size: medium;
    font-family: 'Calibri';
    color: #FBF2F2;
}

.rotateIcon{
    transform: rotate(90deg);
}